.question-timer {
  width: 40%;
  height: 30px;
  margin-bottom: 10px;
}
progress.question-timer::-webkit-progress-bar {
  background-color: #eee; /* Background color of the progress bar */
}
.ant-progress-circle .ant-progress-text {
  color: white !important; /* Change the text color to white */
}
